html,
body {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

#gmail {
  position: absolute;
  top: 23px;
  right: 50px;
  font-family: arial;
}

#afbeelding {
  position: absolute;
  top: 23px;
  right: 100px;
  font-family: arial;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  overflow: hidden;
  background-color: white;
  font-family: arial;
  font-size: 10px;
  height: 25px;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  ;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  text-align: center
}

.zoekbalk {
  display: inline-block;
  width: 300px;
  padding: 10px;
}

.knoppen {
  display: inline-block;
  padding-bottom: 25px;
}

.container2 {
  text-align: center;
}

.container_witspatie {
  padding: 100px;
}

.land {
  text-align: left;
  background: #DCDCDC;
  font-size: 14px;
  color: grey;
  border: 1px solid bfbfbd;
  width: 100%;
  padding: 10px;
  font-family: arial;
  position: fixed;
  bottom: 40px;
}

.onderste-lijn {
  display: grid;
  font-size: 14px;
  color: grey;
  width: 100%;
  grid-template-columns: 8% 8% 6% auto auto 7% 7% 7%;
  grid-template-rows: auto;
  background: #DCDCDC;
  border-left: 1px solid #bfbfbd;
  border-right: 1px solid #bfbfbd;
  border-bottom: 1px solid #bfbfbd;
  padding: 10px;
  font-family: arial;
  font-size: 10px;
  height: 20px;
  position: fixed;
  bottom: 0;
}

.d1 {
  text-align: left;
}

.d2 {
  text-align: center;
}

.d3 {}

.d4 {}

.d5 {}

.d6 {
  text-align: left;
}

.d7 {
  text-align: center;
}

.d8 {
  text-align: right;
}
