#gmail {
  position: absolute;
  top: 23px;
  right: 50px;
}

#afbeelding {
  position: absolute;
  top: 23px;
  right: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  }
  
li {
  float: right;}
  
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  text-align: center
}

.zoekbalk {
  display: inline-block;
  width: 300px;
  padding: 10px;
}

.knoppen {
  display: inline-block;
  padding-bottom: 25px;
}

.container2 {
  text-align: center;
}

.container_witspatie {
  padding: 25px;
}

.land {
  text-align: left;
  background: #DCDCDC;
  font-size: 14px;
  colour: grey; 
  border: 1px solid black;
  width: 100%;
}

.onderste-lijn {
  display: grid;
  font-size: 14px;
  width: 100%;
  grid-template-columns: 10% 8% 6% auto auto 12% 12% 12%;
  grid-template-rows: auto;
  background: #DCDCDC;
  border-left: 1px solid #595959;
  border-right: 1px solid #595959;
  border-bottom: 1px solid #595959;
}

.d1 {
  text-align: left;
}

.d2 {
  text-align: center;
}

.d3 {}

.d4 {}

.d5 {}

.d6 {}

.d7 {}

.d8 {}
